@model List<netmvc.Models.TaiKhoan>;
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/quanly.css?v=@DateTime.Now.Ticks" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap"
      rel="stylesheet"/>
    <title>Login</title>
  </head>
  <body>
    @{
      int viewBagId = Convert.ToInt32(ViewBag.ID ?? "0");
      string Tendangnhap=" ";
      string SDT=" ";
      string Matkhau=" ";
      string Hoten=" ";
      string Sodu=" ";
      foreach(var i in @Model){
        if(i.ID==viewBagId){
             Tendangnhap=i.Tendangnhap;
             SDT=i.SDT;
             Matkhau=i.Matkhau;
             Hoten=i.Hoten;
             Sodu=i.Sodu;
        }
      }
    }
    <div class="container">
      <div class="nagavi">
        <h1>Admin</h1>
        <a href="/Home/Quanly">Quản lý máy</a>
        <a href="/Home/Quanlynguoidung">Quản lý tài khoản</a>
      </div>
      <h1 class="text">Sửa Thông Tin Máy Tính</h1>
      <div class="error">@ViewBag.error</div>
      <table>
        <thead>
          <tr>
             <th>ID</th>
            <th>Tên đăng nhập</th>
            <th>Mật khẩu</th>
            <th>Họ tên</th>
            <th>Số điện thoại</th>
            <th>Số dư</th>
          </tr>
        </thead>
        <tbody>
          <form
            action="/Home/Suathongtinnguoidung"
            method="post"
            style="display: inline"
          >
            <tr>
              <input type="hidden" name="ID" id="" value="@viewBagId"/>
              <td><div>@viewBagId</div></td>
              <td><input type="text" name="Tendangnhap" id="" placeholder="@Tendangnhap"/></td>
              <td><input type="text" name="Hoten" id="" placeholder="@Hoten"/></td>
              <td><input type="text" name="Matkhau" id="" placeholder="@Matkhau"/></td>
              <td><input type="text" name="SDT" id="" placeholder="@SDT"/></td>
              <td><input type="text" name="Sodu" id="" placeholder="@Sodu"/></td>
              <td>
                <button type="submit">Sửa</button>
            </td>
            </tr>
          </form>
        </tbody>
      </table>
    </div>
  </body>
</html>
